<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/jee
    http://www.springframework.org/schema/jee/spring-jee.xsd">

	<import resource="classpath:spring_db.xml" />

	<!-- 参考Version 5.1.3.RELEASE(Multiple Transaction Managers with @Transactional) -->
	<tx:annotation-driven
		transaction-manager="txManager" />

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="insert*" propagation="REQUIRED"
				isolation="DEFAULT" />
			<tx:method name="delete*" propagation="NESTED"
				isolation="DEFAULT" />
			<tx:method name="update*" propagation="REQUIRES_NEW"
				isolation="DEFAULT" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="examOperation"
			expression="execution(* instanceTran.ExamService.*(..)) and bean(esi)" />
		<!-- for one pointcut and one advice, for multiple using <aop:aspect> -->
		<!-- will execute after the AspectClass advice, order value is higher than 
			the aspect -->
		<aop:advisor pointcut-ref="examOperation"
			advice-ref="txAdvice" order="2" />
	</aop:config>
</beans>