body {
	font-size: 16px;
}

div {
	text-align: center;
	color: red;
	font-weight: bold;
	border: 1px solid red;
}

#divId {
	color: blue;
	margin: 5px 10px 15px 20px;
}

.my_class {
	color: green;
	text-decoration: underline;
}

img {
	/* img是行内元素inline需要给予其块级行为 */
	display: block;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	/* 去除浏览器的默认设定 */
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li[data-custom="change"] {
	background-color: rgba(218, 165, 32, 0.5);
}

li.my_class {
	color: purple;
}

li.special {
	color: orange;
}

li.my_class.special {
	color: silver;
}

div span {
	color: pink;
}

div>pre {
	/* 可用于任何元素 */
	white-space: nowrap;
	font-weight: normal;
}

a:link {
	color: initial;
	text-decoration: none;
	display: block;
	width: 50px;
	background-color: grey;
}

a:visited {
	color: #00FF00;
}

a:hover {
	color: #FF00FF;
	text-decoration: underline;
}

a:active {
	color: #0000FF;
}

a::after {
	content: '⤴';
}

/* p:first-child 并不是指p元素的第一个子元素，而是某元素的第一个子元素是p */
p>i:first-child {
	font-weight: bold;
}

pre::first-line {
	text-decoration: overline;
}

table {
	border-collapse: collapse;
	outline: #A020F0 dotted 5px;
}

table, td, th {
	border: 1px solid black;
}