<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="middleTierRelated.dao.UserDao">

	<sql id="userColumns">
		id, login_code, user_name
	</sql>

	<select id="selectAll" resultType="middleTierRelated.vo.UserVO">
		select
		<include refid="userColumns" />
		from sys_user
	</select>

	<select id="selectById" resultType="middleTierRelated.vo.UserVO">
		select
		<include refid="userColumns" />
		from sys_user where login_code=#{id}
	</select>

	<select id="selectByLoginCode"
		resultType="middleTierRelated.vo.UserVO">
		select
		<include refid="userColumns" />
		from sys_user where login_code=#{loginCode}
	</select>

	<insert id="insert" parameterType="entity.UserPO">
		insert into sys_user (id,
		login_code, user_name, password,
		password_salt, email, status)
		values
		(#{id,jdbcType=BIGINT},
		#{loginCode,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{passwordSalt,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR})
	</insert>

	<update id="updateById">
		update sys_user
		<set>
			<if test="loginCode != null">
				login_code = #{loginCode,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="passwordSalt != null">
				password_salt = #{passwordSalt,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteById">
		delete from sys_user where id = #{id}
	</delete>
</mapper>